<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="cstr" connectionString="Server=10.150.1.186\crmdata;Database=TADB;Persist Security Info=True;User ID=naims;Password=lakers;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="language" value="sq"/>
    <add key="server" value="localhost"/>
    <add key="user" value="user"/>
    <add key="password" value="user"/>
    <add key="database" value="master"/>
  </appSettings>
  <system.windows.forms jitDebugging="true" />
</configuration>